@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  h1, h2,
  button {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
  }

  nav, footer {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
}